{{>j_projectPage/projectTop}}

<div>pjno : <span class="detaile_pjno"> </span></div>
<div>start_date : <span class="detaile_start_date"> </span></div>
<div>end_date : <span class="detaile_end_date"> </span></div>
<div>rank1_count : <span class="detaile_rank1_count"> </span></div>
<div>rank2_count : <span class="detaile_rank2_count"> </span></div>
<div>rank3_count : <span class="detaile_rank3_count"> </span></div>
<div>title : <span class="detaile_title"> </span></div>
<div>request : <span class="detaile_request"> </span></div>
<div>note : <span class="detaile_note"> </span></div>
<div>compannyname : <span class="detaile_compannyname"> </span></div>
<div>state : <span class="detaile_state"> </span></div>
<div>price : <span class="detaile_price"> </span></div>
<div class="logs"> </div>
<div class="buttons">
    <button type="button" onclick="changeToUpdate()"> 수정 </button>
    <button type="button" onclick="deleteDetail()"> 삭제 </button>
    <a href="/projectPage/"> 전체리스트 보기 </a>
</div>

<script src="/js/j_projectPage/projectDetail.js"></script>
{{>j_projectPage/projectBottom}}
