{{>j_projectPage/projectTop}}

<div>no. : <span class="detaile_spjno"> </span></div>
<div>시작날짜 : <span class="detaile_start_date"> </span></div>
<div>종료날짜 : <span class="detaile_end_date"> </span></div>
<div>고급인원수 : <span class="detaile_rank1_count"> </span></div>
<div>중급인원수 : <span class="detaile_rank2_count"> </span></div>
<div>초급인원수 : <span class="detaile_rank3_count"> </span></div>
<div>프로젝트 명 : <span class="detaile_title"> </span></div>
<div>요구사항 : <span class="detaile_request"> </span></div>
<div>비고 : <span class="detaile_note"> </span></div>
<div>사업체명 : <span class="detaile_compannyname"> </span></div>
<div>진행상태 : <span class="detaile_state"> </span></div>
<div>규모(금액) : <span class="detaile_price"> </span></div>
<div class="logs"> </div>
<div class="buttons">
    <button type="button" onclick="changeToUpdate()"> 수정 </button>
    <button type="button" onclick="deleteDetail()"> 삭제 </button>
    <a href="/projectPage/"> 전체리스트 보기 </a>
</div>

<script src="/js/j_projectPage/salesDetail.js"></script>
{{>j_projectPage/projectBottom}}
