{{>j_projectPage/projectTop}}


        <div class="pjno"></div>
        <div class="start_date"></div>
        <div class="end_date"> </div>
        <div class="rank1_count"> </div>
        <div class="rank2_count"> </div>
        <div class="rank3_count"> </div>
        <div class="title"> </div>
        <div class="request"> </div>
        <div class="note"> </div>
        <div class="compannyname"> </div>
        <div class="state"> </div>
        <div class="price"> </div>
        <div class="logs"> </div>
        <div class="buttons">

        </div>
<script src="/js/project/oneproject.js"></script>
{{>j_projectPage/projectBottom}}

