  /* 스타일 */

  #calendarWrap{
    width : 95%;
  }
  table.calendar {
    width: 95%;
    padding : 5px;
    border-collapse: collapse;
  }
  table.calendar th,
  table.calendar td {
    width : 110px;
    height : 75px;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: right;
    vertical-align : top;
  }
  table.calendar td > div{
        font-size : 12px;
    }
  table.calendar th {
    background-color: #f2f2f2;
  }
  .today {
    background-color: #87ceeb;
  }

  /* 글자 포지션 부모 포지션 잡기  */
  .today{
    position: relative;
  }
  /* 이벤트 글자 포지션 */
  .event-text{
     position: absolute;
     width : 80px;
     top: 35;
     left: 20;
     text-align: left;
     overflow: auto; /* 필요 시 스크롤 생성 */
  }
  /* 년 월 글자 센터 */
  .calendarCenter > th{
    text-align: center !important;
  }