{{>headerfooter/header}}

<!--프로젝트 전체 wrap-->
<div id="j_projectWrap">
    <!--사이드바-->
    <div id="j_projectSideWrap">
        <ul id="j_pjMainSide">
            <li> <a href="/note/receive"> 받은쪽지 </a> </li>
            <li><a href="/note/getPost"> 보낸쪽지 </a></li>
            <li> <a href="/note/post">쪽지 보내기</a></li>
        </ul>
    </div>

    <!--================ main 구역 =================-->
    <div id="projectMainView">