{{>j_note/noteTop}}

<h3>보낸쪽지</h3>
<!--프로젝트 전체 출력-->
<table>
    <thead>
    <tr>
        <th></th>
        <th>보낸쪽지</th>
        <th>받은이</th>
        <th>전송일자</th>
    </tr>
    </thead>

    <tbody id="projectList">

    </tbody>
</table>

<!--페이지네이션-->
<nav aria-label="Page navigation example">
    <ul class="pagination pagination-sm">

    </ul>
</nav>

<script src="/js/j_note/notePostList.js"></script>
{{>j_note/noteBottom}}


