{{>headerfooter/header}}

<div id="login_div">
    <img src="/img/logo.png">
    <div id="all_login">
        <div id="login_input"><input class="k_login" type="text" id="id" name="id" placeholder="id"><input class="k_login" type="text" id="pw" name="pw" placeholder="pw"></div>
        <button type="button" onclick="login()" class="loginbtn">로그인</button>
    </div>
</div>
<script src="/js/index.js"></script>
{{>headerfooter/footer}}