{{>mypages/mypageTop}}
        <div id="p_attContent">
            <!--  출근 조회 내용 출력 부분          -->
        </div>


<script src="/js/mypages/loginCheck.js"></script> <!-- 로그인 체크 js -->
<!--<script src="/js/mypages/fullcalendar.js"></script>-->
<script src="/js/mypages/attendance.js"></script>
{{>mypages/mypageBottom}}