{{>headerfooter/header}}

<div id="j_projectWrap">
    <!-- 왼쪽 사이드 메뉴    -->
    <div id="j_projectSideWrap">
        <ul id="j_pjMainSide">
            <li><a href="/mypage">내정보 보기</a></li>
            <li><a href="/mypage/project">내 프로젝트</a></li>
            <li><a href="/mypage/attendance">출결 관리</a></li>
            <li><a href="/mypage/attendance/list">출결 조회</a></li>
        </ul>
    </div>
    <!--  중앙 내용 출력 부분   -->
    <div id="projectMainView">