{{>mypages/mypageTop}}
        <div id="p_myContentBoxWrap">
            <div id="p_dataView">
                <!--  사원 데이터 출력 표시    -->
            </div>
            <div class="p_btnBox">
                <button onclick="#" type="button"><a href="/mypage/updateView">수정</a></button>
            </div>
        </div>



<script src="/js/mypages/loginCheck.js"></script> <!-- 로그인 체크 js -->
<script src="/js/mypages/mypage.js"></script>
{{>mypages/mypageBottom}}

<!--
    int eno;
    String eeducation;  // 학력 ( 고졸 , 초대졸 , 대졸 )
    String id;          // 아이디
    String pw;          // 비밀번호
    String ename;       // 이름
    String email;       // 이메일
    String phone;       // 전화번호
    String address;     // 주소
    boolean sex;        // 성별 0 남성 1 여성
    String img;         // 업로드한 이미지 이름
    String edate;       // 입사일 ( 등록일 )
    int pno;            // 파트 ( 업무 부서 )
    MultipartFile mfile; // 파일 업로드



-->