{{>mypages/mypageTop}}
        <div id="p_myProjectdate">
            <!--  사원 데이터 출력 표시    -->

        </div>



<script src="/js/mypages/loginCheck.js"></script> <!-- 로그인 체크 js -->
<script src="/js/mypages/myProject.js"></script>

{{>mypages/mypageBottom}}

<!--
            <div><span class="viewTitle">사원 명 :</span><span class="id"></span></div>
            <div><span class="viewTitle">프로젝트 번호 :</span><span class="pjno"></span></div>
            <div><span class="viewTitle">시작 날짜 :</span><span class="start_date"></span></div>
            <div><span class="viewTitle">종료 날짜 :</span><span class="end_date"></span></div>
            <div><span class="viewTitle">프로젝트 명 :</span><span class="title"></span></div>
            <div><span class="viewTitle">회사 명 :</span><span class="compannyname"></span></div>
            <div><span class="viewTitle">프로젝트 현재 상황 :</span><span class="state"></span></div>


-->