{{>salary/h}}

<table>
    <thead>
    <tr>
        <th >체크</th>
        <th >사원이름</th>
        <th >만원</th>
        <th> 지급예정일자 </th>
        <th >비고</th>
    </tr>
    </thead>
    <tbody id="boardTableBody">

    </tbody>
</table>
<!--페이지네이션-->
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item disabled">
            <a class="page-link">이전</a>
        </li>
        <li class="page-item"><a class="page-link" onclick="doViewList(1)">1</a></li>
        <li class="page-item"><a class="page-link" onclick="doViewList(2)">2</a></li>
        <li class="page-item"><a class="page-link" onclick="doViewList(3)">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">다음</a>
        </li>
    </ul>
</nav>
<div class="buttons">
    <button type="button" onclick="doPost()"> 확인 </button>
</div>
<script src="/js/salary/salarylist.js"></script>


{{>salary/f}}